<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="light dark" />
        <title>Weather</title>
    </head>
    <body>
        <header class="container">
            <h3>Weather</h3>
        </header>
        <main class="container">
            <section>
                <form action="submit" id="city-input-form">
                    <fieldset role="group">
                        <input
                            type="text"
                            placeholder="City Name eg. Oslo, London etc..."
                            id="city-input"
                        />
                        <button>Submit</button>
                    </fieldset>
                </form>
            </section>
            <section>
                <div class="container" id="weather-info">
                    <div class="container flex center">
                        <small id="current-day-date">
                            Friday, 12 May, 2023
                        </small>
                        <label id="unit-container">
                            <small>C</small>
                            <input
                                name="terms"
                                type="checkbox"
                                role="switch"
                                id="unit"
                            />
                            <small>F</small>
                        </label>
                    </div>
                    <div class="container flex center">
                        <h1 id="city">Berlin</h1>
                    </div>
                    <div class="container flex center" id="temp-main">
                        <div class="flex center">
                            <small id="condition">Sunny</small>
                        </div>
                        <div class="flex center">
                            <h2 id="temperature">22</h2>
                        </div>
                        <div class="flex col">
                            <div class="flex gap-5">
                                <img
                                    src='<%= require("./assets/icons/thermostat.svg") %>'
                                />
                                <small>Feels like: </small
                                ><small id="feelslike"></small>
                            </div>
                            <div class="flex gap-5">
                                <img
                                    src='<%= require("./assets/icons/humidity.svg") %>'
                                />

                                <small>Humidity: </small
                                ><small id="humidity"></small>
                            </div>
                            <div class="flex gap-5">
                                <img
                                    src='<%= require("./assets/icons/wind.svg") %>'
                                />
                                <small>Wind: </small><small id="wind"></small>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            Powered by
            <a href="https://www.weatherapi.com/" title="Free Weather API"
                >WeatherAPI.com</a
            >
        </footer>
    </body>
</html>
