<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="light dark" />
        <link rel="icon" href='<%= require("./assets/logo/logo1.png") %>' />
        <title>Cither</title>
    </head>
    <body>
        <header class="container flex center-align">
            <img src='<%= require("./assets/logo/logo1.png") %>' id="logo" />
            <h3 id="brand-name">Cither</h3>
        </header>
        <main class="container">
            <section>
                <form action="submit" id="city-input-form">
                    <fieldset role="group">
                        <input
                            type="text"
                            placeholder="City Name eg. Oslo"
                            id="city-input"
                        />
                        <button id="city-input-btn">Submit</button>
                    </fieldset>
                </form>
            </section>
            <section>
                <div class="container" id="weather-info">
                    <div class="container flex center">
                        <small id="current-day-date"> </small>
                        <label id="unit-container">
                            <small>&deg;C</small>
                            <input
                                name="terms"
                                type="checkbox"
                                role="switch"
                                id="unit"
                            />
                            <small>&deg;F</small>
                        </label>
                    </div>
                    <div class="container flex center">
                        <h1 id="city"></h1>
                    </div>
                    <div class="container flex center" id="temp-main">
                        <div class="flex col center-align">
                            <small id="condition"></small>
                            <img id="condition-icon" />
                        </div>
                        <div class="flex center">
                            <h2 id="temperature"></h2>
                        </div>
                        <div class="flex col">
                            <div class="flex gap-5">
                                <img
                                    src='<%= require("./assets/icons/thermostat.svg") %>'
                                />
                                <small>Feels like: </small
                                ><small id="feelslike"></small>
                            </div>
                            <div class="flex gap-5">
                                <img
                                    src='<%= require("./assets/icons/humidity.svg") %>'
                                />

                                <small>Humidity: </small
                                ><small id="humidity"></small>
                            </div>
                            <div class="flex gap-5">
                                <img
                                    src='<%= require("./assets/icons/wind.svg") %>'
                                />
                                <small>Wind: </small><small id="wind"></small>
                            </div>
                        </div>
                    </div>
                    <div class="container margin-y-20">
                        <h5>Hourly Forecast</h5>
                        <hr />
                        <div
                            class="flex gap-10 scroll-x"
                            id="hourly-forecast"
                        ></div>
                    </div>
                    <div class="container margin-y-20">
                        <h5>Daily Forecast</h5>
                        <hr />
                        <div
                            class="flex gap-10 scroll-x"
                            id="daily-forecast"
                        ></div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <small>Powered by</small>
            <a href="https://www.weatherapi.com/" title="Free Weather API"
                >WeatherAPI.com</a
            >
        </footer>
    </body>
</html>
