header {
    text-align: center;
}

body {
    min-height: 100vh;
}

#temp-main>* {
    flex: 1;
}

#unit-container {
    float: right;
}

#feelslike,
#humidity,
#wind {
    font-weight: 700;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.col {
    flex-direction: column;
}
