header {
    text-align: center;
}

body {
    min-height: 100vh;
}

#weather-info {
    position: relative;
}

#temp-main>* {
    flex: 1;
}

#unit-container {
    position: absolute;
    right: 0;
}

#unit-container>small {
    display: inline;
}

#condition-icon,
.weather-card>img {
    height: 4rem;
    width: 4rem;
}

#feelslike,
#humidity,
#wind {
    font-weight: 700;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
}

.center-align {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.col {
    flex-direction: column;
}

.gap-5 {
    gap: 5px;
}

.weather-card {
    display: flex;
    flex-direction: column;
}
